<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/rotations-list']">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="authService.isStudentMode">
      <button
        class="btn btn-transparent"
        [routerLink]="['/rotation-stats', 1]"
        color="primary"
        [disabled]="!rotation.evaluations.length"
      >
        <svg-icon
          src="assets/images/svg-icons/icon-chart.svg"
          [svgStyle]="{ 'width.px':21 }"
        ></svg-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="rotation-detail__illustration">
    <img src="assets/images/illustrations/illustration-surgeon.png" />
  </div>

  <div class="rotation-detail__header">
    <div class="rotation-detail__header-content">
      <div class="rotation-detail__title">{{ rotation.title }}</div>
      <div class="rotation-detail__subtitle">{{ rotation.subtitle }}</div>
    </div>
    <div
      class="rotation__item-icon"
      [class.-done]="rotation.status == 'done'"
      [class.-todo]="rotation.status == 'todo'"
    >
      <svg-icon
        src="assets/images/svg-icons/icon-check.svg"
        [svgStyle]="{ 'width.px':26 }"
        *ngIf="rotation.status == 'done'"
      ></svg-icon>

      <svg-icon
        src="assets/images/svg-icons/icon-donut.svg"
        [svgStyle]="{ 'width.px':24 }"
        *ngIf="rotation.status == 'in_progress'"
      ></svg-icon>

      <svg-icon
        src="assets/images/svg-icons/icon-warning.svg"
        [svgStyle]="{ 'width.px':26 }"
        *ngIf="rotation.status == 'todo'"
      ></svg-icon>
    </div>
  </div>

  <div class="rotation-detail__student" *ngIf="authService.isEvaluatorMode">
    <div class="rotation__item">
      <div class="rotation__item-image">
        <img [src]="rotation.student.image" />
      </div>
      <div class="rotation__item-content">
        <div class="rotation__item-title">{{ rotation.student.name }}</div>
      </div>
    </div>
  </div>

  <div class="rotation-detail__evaluations-title">
    <ng-container *ngIf="authService.isStudentMode"> Évaluations </ng-container>
    <ng-container *ngIf="authService.isEvaluatorMode">
      Autres évaluations
    </ng-container>
  </div>

  <div
    class="rotation-detail__no-evaluations"
    *ngIf="!rotation.evaluations.length"
  >
    Cette rotation n’a pas encore été évaluée
  </div>

  <div
    class="rotation-detail__evaluations-list"
    *ngIf="rotation.evaluations.length"
  >
    <a
      class="rotation__item"
      [routerLink]="['/evaluation-detail', 1, 1]"
      *ngFor="let evaluation of rotation.evaluations"
    >
      <div class="rotation__item-image">
        <img [src]="evaluation.image" />
      </div>
      <div class="rotation__item-content">
        <div class="rotation__item-title">{{ evaluation.title }}</div>
        <div class="rotation__item-subtitle">
          <ng-container *ngIf="evaluation.responsable">
            <span>Responsable</span>
            <svg-icon
              src="assets/images/svg-icons/icon-star.svg"
              [svgStyle]="{ 'width.px':18 }"
            ></svg-icon>
          </ng-container>
          <ng-container *ngIf="!evaluation.responsable">
            <span>Évaluateur</span>
          </ng-container>
        </div>
      </div>
      <div class="rotation__item-info">
        <svg-icon
          src="assets/images/svg-icons/icon-calendar.svg"
          [svgStyle]="{ 'width.px':16 }"
        ></svg-icon>
        {{ evaluation.date }}
      </div>
    </a>
  </div>

  <div
    class="rotation-detail__ask-evaluation"
    *ngIf="authService.isStudentMode"
  >
    <button
      class="btn btn-primary btn-full"
      [routerLink]="['/ask-evaluation', 1]"
    >
      Demander une évaluation
    </button>
  </div>
</ion-content>
