<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/rotations-list']" routerDirection="back">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <button
        class="btn btn-transparent"
        (click)="openModalRotationChart()"
        color="primary"
        [disabled]="!rotation.evaluations.length"
      >
        <svg-icon
          src="assets/images/svg-icons/icon-chart.svg"
          [svgStyle]="{ 'width.px':31 }"
        ></svg-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="rotation-detail__illustration">
    <img src="assets/images/illustrations/illustration-surgeon.png" />
  </div>

  <div class="rotation-detail__header">
    <div class="rotation-detail__header-content">
      <div class="page-title">{{ rotation.title }}</div>
      <div class="page-text">{{ rotation.subtitle }}</div>
    </div>
    <div
      class="list-item-icon"
      [class.-done]="rotation.status == 'done'"
      [class.-todo]="rotation.status == 'todo'"
    >
      <svg-icon
        src="assets/images/svg-icons/icon-check.svg"
        [svgStyle]="{ 'width.px':26 }"
        *ngIf="rotation.status == 'done'"
      ></svg-icon>

      <svg-icon
        src="assets/images/svg-icons/icon-donut.svg"
        [svgStyle]="{ 'width.px':24 }"
        *ngIf="rotation.status == 'in_progress'"
      ></svg-icon>

      <svg-icon
        src="assets/images/svg-icons/icon-warning.svg"
        [svgStyle]="{ 'width.px':26 }"
        *ngIf="rotation.status == 'todo'"
      ></svg-icon>
    </div>
  </div>

  <div class="page-subtitle">Évaluations</div>

  <div
    class="rotation-detail__no-evaluations"
    *ngIf="!rotation.evaluations.length"
  >
    Cette rotation n’a pas encore été évaluée
  </div>

  <div class="ion-margin-vertical" *ngIf="rotation.evaluations.length">
    <a
      class="list-item"
      [routerLink]="['/evaluation-detail', 1, 1]"
      routerDirection="forward"
      *ngFor="let evaluation of rotation.evaluations"
    >
      <div class="list-item-image">
        <img [src]="evaluation.image" />
      </div>
      <div class="list-item-content">
        <div class="list-item-title">{{ evaluation.title }}</div>
        <div class="list-item-subtitle">
          <ng-container *ngIf="evaluation.responsable">
            <span>Responsable</span>
            <svg-icon
              src="assets/images/svg-icons/icon-star.svg"
              [svgStyle]="{ 'width.px':18 }"
            ></svg-icon>
          </ng-container>
          <ng-container *ngIf="!evaluation.responsable">
            <span>Évaluateur</span>
          </ng-container>
        </div>
      </div>
      <div class="list-item-info">
        <svg-icon
          src="assets/images/svg-icons/icon-calendar.svg"
          [svgStyle]="{ 'width.px':16 }"
        ></svg-icon>
        {{ evaluation.date }}
      </div>
    </a>
  </div>

  <div class="rotation-detail__ask-evaluation">
    <button
      class="btn btn-primary btn-full nnki-mb4"
      (click)="openModalAskEvaluation()"
    >
      Demander une évaluation
    </button>
  </div>
</ion-content>
