<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/rotations-list']">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/rotation-stats', 1]">
        <ion-icon slot="icon-only" name="stats-chart"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Rotation #4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img src="https://via.placeholder.com/500x300" />
  <p>4-10 juillet 2020</p>

  <p><strong>Evaluations</strong></p>

  <ion-list>
    <ion-item
      [routerLink]="['/evaluation-detail', 1, 1]"
      *ngFor="let evaluation of [0, 0, 0]"
    >
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label> Henry Chateau </ion-label>
    </ion-item>
  </ion-list>

  <ion-button
    color="primary"
    expand="block"
    [routerLink]="['/ask-evaluation', 1]"
  >
    Demander une évaluation
  </ion-button>
</ion-content>
