@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-LightItalic.woff2') format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-BoldItalic.woff2') format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-SemiBoldItalic.woff2')
      format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-ExtraBoldItalic.woff2')
      format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-Thin.woff2') format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-Bold.woff2') format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-ExtraLight.woff2') format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-Regular.woff2') format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-Italic.woff2') format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-ExtraLightItalic.woff2')
      format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-ThinItalic.woff2') format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-ExtraBold.woff2') format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-Medium.woff2') format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-Black.woff2') format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-Light.woff2') format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-BlackItalic.woff2') format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans/WorkSans-MediumItalic.woff2') format('woff2'),
    url('/assets/fonts/WorkSans/WorkSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
