html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: 'Work Sans';
  color: var(--grey-three);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

*:focus {
  outline: 0;
}
