<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()"> Annuler</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <button class="btn btn-primary btn-full nnki-mt" (click)="scanQRCode()">
      Scanner le QR code
    </button>

    <!-- todo : implement -->
    <!-- <div class="button-link">
      <a (click)="notImplemented()">ou Rechercher manuellement</a>
    </div> -->
  </div>
</ion-content>
