<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        *ngIf="appraisal"
        [routerLink]="authService.isStudent ?
         ['/scheduled-situation-detail', appraisal?.evalPlan.id] :
          ['/scheduled-situation-detail',appraisal?.evalPlan.id, appraisal?.student.userid ]"
        routerDirection="back"
      >
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ scheduledSituation?.situation.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="page-title">Contexte</div>

  <ng-container *ngIf="appraisal">
    <p class="page-text">{{ appraisal.context }}</p>
    <div class="page-title">Observations</div>
    <div class="ion-margin-vertical">
      <div
        class="list-item"
        *ngFor="let criterion of appraisal.criteria"
        (click)="openModalCriterionDetail(criterion)"
      >
        <div class="list-item-content">
          <div class="list-item-title -regular">{{ criterion.label }}</div>
          <div class="list-item-infos">
            <div class="list-item-info">
              <svg-icon
                src="assets/images/svg-icons/icon-smile.svg"
                [svgStyle]="{ 'width.px':21 }"
              ></svg-icon>
              <span
                >{{ getSubcriteriaGradedNumber(criterion) }} / {{
                criterion.subcriteria.length }}</span
              >
            </div>
            <div class="list-item-info">
              <svg-icon
                src="assets/images/svg-icons/icon-comment.svg"
                [svgStyle]="{ 'width.px':23 }"
              ></svg-icon>
              <span>{{ criterion.comment ? 1 : 0 }}</span>
            </div>
          </div>
        </div>
        <div class="list-item-icon">
          <svg-icon
            src="assets/images/svg-icons/emojis/ranking-active-{{ criterion.grade ? criterion.grade : 'null' }}.svg"
            [svgStyle]="{ 'width.px':36 }"
          ></svg-icon>
        </div>
      </div>
    </div>

    <ng-container *ngIf="appraisal.comment">
      <div class="page-title">Commentaire</div>
      <p class="page-text quote">
        <svg-icon
          src="assets/images/svg-icons/icon-quote.svg"
          [svgStyle]="{ 'width.px':16 }"
        ></svg-icon>
        {{ appraisal.comment }}
      </p>
      <!-- todo : implement -->
      <!-- <div class="page-subtitle">Répondre</div>
      <form
        [formGroup]="answerAppraisalForm"
        (ngSubmit)="answerAppraisal()"
        [class.-submitted]="formSubmitted"
        class="form"
      >
        <ion-item class="form-input" lines="none">
          <ion-textarea formControlName="answer"></ion-textarea>
        </ion-item>
        <div *ngIf="errorMsg" class="form-error">{{ errorMsg }}</div>
        <button class="btn btn-primary nnki-mb4" (click)="answerAppraisal()">
          Envoyer
        </button>
      </form> -->
    </ng-container>
  </ng-container>
</ion-content>
