<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/school-choice']">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()" (keyup.enter)="login()">
    <ion-item>
      <ion-label position="floating">Nom d'utilisateur</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-button color="primary" expand="block" (click)="login()"
      >Login</ion-button
    >

    <div *ngIf="errorMsg">{{ errorMsg }}</div>
  </form>
</ion-content>
