<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/evaluation-detail', 1, 1]">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Rotation #4 (Henri Chateau)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let subcriterion of [0, 0, 0, 0]">
      <ion-label>
        <p>Ponctualité</p>
      </ion-label>
      <ion-icon name="happy" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
