<ion-header>
  <ion-toolbar color="primary">
    <div class="rotations-list__toolbar">
      <div class="rotations-list__top-toolbar">
        <div class="rotations-list__avatar" (click)="openMenu()">
          <img src="https://via.placeholder.com/50x50" />
        </div>
        <div class="rotations-list__title">
          <ng-container *ngIf="authService.isStudentMode">
            Rotations
          </ng-container>
          <ng-container *ngIf="authService.isEvaluatorMode">
            Évaluations
          </ng-container>
        </div>
      </div>
      <div class="rotations-list__bottom-toolbar">
        <ion-segment
          (ionChange)="segmentChanged($event)"
          value="to_evaluate"
          mode="ios"
        >
          <ion-segment-button value="to_evaluate">
            À évaluer
          </ion-segment-button>
          <ion-segment-button value="all"> Toutes </ion-segment-button>
        </ion-segment>

        <button
          class="btn btn-primary btn-icon-left btn-light"
          (click)="filterRotations()"
        >
          <ion-icon name="filter"></ion-icon>
          Filtrer
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-margin-vertical">
    <div
      class="list-item"
      [routerLink]="['/rotation-detail', rotation.id]"
      *ngFor="let rotation of rotations"
    >
      <div class="list-item-image" *ngIf="rotation.type == 'evaluator'">
        <img [src]="rotation.image" />
      </div>
      <div class="list-item-content">
        <div class="list-item-title">{{ rotation.title }}</div>
        <div class="list-item-subtitle">{{ rotation.subtitle }}</div>
        <div class="list-item-infos">
          <ng-container *ngIf="rotation.type == 'student'">
            <div class="list-item-info">
              <svg-icon
                src="assets/images/svg-icons/icon-smile.svg"
                [svgStyle]="{ 'width.px':21 }"
              ></svg-icon>
              <span>{{ rotation.evaluated}}</span>
            </div>
            <div class="list-item-info">
              <svg-icon
                src="assets/images/svg-icons/icon-comment.svg"
                [svgStyle]="{ 'width.px':23 }"
              ></svg-icon>
              <span>{{ rotation.comments }}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="rotation.type == 'evaluator'">
            <div class="list-item-info">
              <ng-container *ngIf="rotation.status == 'in_progress'">
                <svg-icon
                  src="assets/images/svg-icons/icon-times-light.svg"
                  [svgStyle]="{ 'width.px':21 }"
                ></svg-icon>
                <span>Rotation non validée</span>
              </ng-container>
              <ng-container *ngIf="rotation.status == 'done'">
                <svg-icon
                  src="assets/images/svg-icons/icon-check-light.svg"
                  [svgStyle]="{ 'width.px':21 }"
                ></svg-icon>
                Rotation validée
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div
        class="list-item-icon"
        [class.-done]="rotation.status == 'done'"
        [class.-todo]="rotation.status == 'todo'"
      >
        <svg-icon
          src="assets/images/svg-icons/icon-check.svg"
          [svgStyle]="{ 'width.px':26 }"
          *ngIf="rotation.status == 'done'"
        ></svg-icon>

        <svg-icon
          src="assets/images/svg-icons/icon-donut.svg"
          [svgStyle]="{ 'width.px':24 }"
          *ngIf="rotation.status == 'in_progress'"
        ></svg-icon>

        <svg-icon
          src="assets/images/svg-icons/icon-warning.svg"
          [svgStyle]="{ 'width.px':26 }"
          *ngIf="rotation.status == 'todo'"
        ></svg-icon>
      </div>
    </div>
  </div>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="authService.isEvaluatorMode"
    [routerLink]="['/create-evaluation']"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
