.rotations-list__toolbar {
  padding: 0 20px 10px 20px;
  width: 100%;
}

.rotations-list__top-toolbar {
  display: flex;
  align-items: center;

  .rotations-list__avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: cover;
    }
  }

  .rotations-list__title {
    font-size: 34px;
    font-weight: 700;
  }
}

.rotations-list__bottom-toolbar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ion-segment {
    margin: 0;
  }
}
