.table-container {
  max-width: 100%;
  overflow: auto;
}

.td-content {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1px;

  position: relative;
}

.criteria-label {
  div {
    transform: translate(1em, 15em) rotate(-90deg);
    width: 2em;
  }

  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20em;
}

td:nth-child(2n + 2) {
  .td-content {
    background: var(--primary-background);
  }
}

.icon-comment {
  position: absolute;
  bottom: -1px;
  right: -5px;
}
