<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"> OK </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="page-title ion-text-center">Observations</div>

  <div class="table-container ion-margin-vertical">
    <table>
      <tr>
        <th><!--empty --></th>
        <th *ngFor="let label of labels">
          <div class="criteria-label">
            <div>{{ label }}</div>
          </div>
        </th>
      </tr>
      <tr *ngFor="let appraisal of appraisals">
        <td>
          <div class="td-content">
            <!-- todo : implement -->
            <!-- <div class="list-item-image">
              <img [src]="appraisal.image" />
            </div> -->
            {{ appraisal.appraiserName }}
          </div>
        </td>
        <td *ngFor="let criterion of appraisal.criteria">
          <div class="td-content">
            <svg-icon
              src="assets/images/svg-icons/emojis/ranking-active-{{
                criterion.grade ? criterion.grade : 'null'
              }}.svg"
              [svgStyle]="{ 'width.px': 32 }"
            ></svg-icon>
          </div>
        </td>
      </tr>
    </table>
  </div>
</ion-content>
